<h1>Wikinimous Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
    <%= link_to article.title, show_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "create new article", new_path %>
